<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#020202" />
    <title>Foodiedie</title>
    <link rel="apple-touch-icon" href="icons/apple-touch-icon.png">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
  </head>

  <body class="light">
    <a id="skipcontent" href="#main-article" class="screen-reader-skip-content">press enter to the restaurant list</a>
    <header class="header">
      <h1 class="header__title" tabindex="0">
        <span>Eat</span>
        <span>healthy</span>
      </h1>
      <a class="header__link" href="#explore">Explore Restaurant</a>
    </header>
    <nav-bar></nav-bar>
    <root-component></root-component>
    <footer-element></footer-element>
  </body>
</html>