<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="theme-color" content="#020202" />
  <!-- Primary Meta Tags -->
  <title>Foodiedie</title>
  <meta name="title" content="Foodiedie">
  <meta name="description" content="Provide list of healthy restaurant near your area.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://foodiedie.vercel.app/">
  <meta property="og:title" content="Foodiedie">
  <meta property="og:description" content="Provide list of healthy restaurant near your area.">
  <meta property="og:image" content="/assets/og.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="/assets/summary_large_image.png">
  <meta property="twitter:url" content="https://foodiedie.vercel.app/">
  <meta property="twitter:title" content="Foodiedie">
  <meta property="twitter:description" content="Provide list of healthy restaurant near your area.">
  <meta property="twitter:image" content="/assets/og.png">

  <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
  <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">
  <link rel="manifest" href="site.webmanifest">
</head>

<body class="light">
  <a id="skipcontent" href="#main-article" class="screen-reader-skip-content">press enter to the restaurant list</a>
  <root-component></root-component>
  <footer-element></footer-element>
</body>

</html>