@import "./font.scss";

/* Colors */
$pale-spring-bud: #ccd5ae;
$pale-spring-bud-2: #e9edc9ff;
$cornsilk: #fefae0ff;
$cornsilkTransparent: rgba(254, 250, 224, 0.7);
$papaya-whip: #faedcdff;
$fawn: #d4a373ff;
$seagreen: #2e8b57;
$dark: #020202;
$light: #fff;

/* style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 250ms ease-in-out, color 500ms ease-in-out;
}

body {
  font-family: $font-primary;
  overflow-x: hidden;
}

img {
  display: block;
}

:root {
  font-size: 18px;

  --c-light-bg-primary: #fefae0ff;
  --c-light-bg-secondary: #2e8b57;
  --c-light-bg-third: #faedcdff;
  --c-light-bg-transparent: rgba(254, 250, 224, 0.7);

  --c-light-text-primary: #2e8b57;
  --c-light-text-secondary: #020202;
  --c-light-text-dark: #020202;
  --c-light-text-dark-opacity: #0202020d;

  --c-light-header-primary: #fefae0ff;
  --c-light-header-secondary: #ccd5ae;
  --c-light-header-third: #e9edc9ff;


  --c-dark-bg-primary: #151522;
  --c-dark-bg-secondary: #6c7086;
  --c-dark-bg-third: #b4befe;
  --c-dark-bg-transparent: #11111b79;

  --c-dark-text-primary: #a6e3a1;
  --c-dark-text-secondary: #cdd6f4;
  --c-dark-text-dark: #cdd6f4;
  --c-dark-text-dark-opacity: #cdd6f485;

  --c-dark-header-primary: #b4befe;
  --c-dark-header-secondary: #1e1e2e;
  --c-dark-header-third: #11111b;
}

.light {
  --bg-primary: var(--c-light-bg-primary);
  --bg-secondary: var(--c-light-bg-secondary);
  --bg-third: var(--c-light-bg-third);
  --bg-transparent: var(--c-light-bg-transparent);

  --text-primary: var(--c-light-text-primary);
  --text-secondary: var(--c-light-text-secondary);
  --text-p: var(--c-light-text-dark);
  --text-p-opacity: var(--c-light-text-dark-opacity);

  --header-primary: var(--c-light-header-primary);
  --header-secondary: var(--c-light-header-secondary);
  --header-third: var(--c-light-header-third);

  --card-button: #2e8b57;

  --real-header-1: #fefae0ff;
  --real-header-2: #ccd5ae;

  --span-header-one: #fefae0ff;

  --bg-badge: var(--header-third);

  background-color: var(--bg-primary);
}

.dark {
  --bg-primary: var(--c-dark-bg-primary);
  --bg-secondary: var(--c-dark-bg-secondary);
  --bg-third: var(--c-dark-bg-third);
  --bg-transparent: var(--c-dark-bg-transparent);

  --text-primary: var(--c-dark-text-primary);
  --text-secondary: var(--c-dark-text-secondary);
  --text-p: var(--c-dark-text-dark);
  --text-p-opacity: var(--c-dark-text-dark-opacity);

  --header-primary: var(--c-dark-header-primary);
  --header-secondary: var(--c-dark-header-secondary);
  --header-third: var(--c-dark-header-third);

  --card-button: #89b4fa;

  --real-header-1: #11111b;
  --real-header-2: #1e1e2e;

  --span-header-one: #11111b;

  --bg-badge: var(--c-dark-text-primary);

  background-color: var(--bg-primary);
}

:any-link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

$touch-target-padding: .5rem;
$touch-hover-transition: all .2s ease-out;
@import './mixins.scss';

p {
  color: var(--text-p);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include title;
}

/* navbar */
.nav {
  width: 100%;
  height: 70px;
  padding-inline: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 10;

  background-color: var(--bg-primary);

  @media screen and (min-width: 769px) {
    & {
      background-color: var(--bg-transparent);
      backdrop-filter: blur(5px);
    }
  }

  &__title {
    display: inline-block;
    padding: $touch-target-padding;

    font-family: $font-secondary;
    font-weight: 700;
    font-size: 2rem;
    color: var(--text-primary);

    transition: $touch-hover-transition;

    display: flex;
    align-items: center;

    &__leaf-logo {
      margin-left: 5px;
    }

    &:hover {
      transform: scale(1.02);
    }
  }

  &__item {
    display: inline-flex;
    align-items: center;

    padding: .5rem 1.5rem;
    margin-right: .4rem;
    border-radius: 12px;
    transition: $touch-hover-transition;
    color: var(--text-primary);
    text-align: center;
    position: relative;

    & img {
      width: 20px;
      margin-right: 5px;

    }

    &:hover {
      background-color: var(--header-secondary);
    }

    &:focus {
      background-color: var(--header-secondary);
      transform: scale(.95);
    }

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: "";
      display: block;
      width: 4px;
      height: 3px;
      border-radius: 5px;

      background-color: var(--header-secondary);

      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translateX(-50%);
      transition: $touch-hover-transition;
    }

    &:hover::before {
      left: 50%;
      transform: translateX(-50%);
      width: 60%;
      background-color: var(--bg-secondary);
    }
  }

  &__menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    width: 44px;
    height: 44px;
    padding: 7px;
    border: none;
    border-radius: 8px;

    position: absolute;
    right: 6%;

    top: 50%;
    translate: 0 -50%;

    transition: $touch-hover-transition;

    visibility: hidden;
    cursor: pointer;

    background-color: var(--bg-primary);

    &__line {
      width: 100%;
      height: 2px;
      background-color: var(--bg-secondary);
      transition: .4s ease-out;

      &:first-child {
        width: 70%;
        margin-bottom: 5px;
      }
    }

    &:active {
      background-color: var(--text-p-opacity);
      scale: .95;
    }
  }
}

/* header */
.header {
  background-image: url("../../public/images/heros/hero-image_1.webp");
  background-position: center;
  background-size: cover;

  height: 60vh;
  width: 100%;
  padding-bottom: Min(5vw, 10px);

  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-columns: 100%;

  padding-inline: 1rem;

  &__title {
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $font-secondary;
    font-weight: 700;
    font-size: clamp(4rem, 10vw, 5rem);

    span {
      padding: 10px;
    }

    & span:first-child {
      color: var(--span-header-one);
      background-color: var(--real-header-2);
      width: min-content;
    }

    & span:last-child {
      color: var(--real-header-2);
      background-color: var(--span-header-one);
      margin-left: calc(48% + 1px);
      width: max-content;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    justify-self: end;

    width: max-content;
    height: min-content;
    font-size: .9rem;
    padding: 10px 20px;

    background-color: var(--bg-primary);
    color: var(--text-primary);
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);

    transition: $touch-hover-transition;

    &:hover {
      background-color: var(--header-secondary);
    }
  }
}

.main {
  width: 100%;
  padding-inline: 1rem;
  margin-top: 5rem;

  &__description {
    max-width: 800px;
    margin-inline: auto;
    width: 100%;
    margin-bottom: 4rem;
  }

  &__title {
    @include title;
  }

  &__paragraph {
    font-size: 1rem;

    &::first-letter {
      font-family: 'Times New Roman', serif;
      margin-left: 2rem;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  margin-inline: auto;
  margin-bottom: 1.5rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  background-color: var(--header-third);
  border-radius: 8px;
  max-width: 350px;

  &__img {
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 6px;

    &>img {
      @include thumbnailImg;
    }

  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;

    margin-top: 1rem;
    margin-bottom: 1.2rem;

    & h3 {
      font-size: 1.3rem;
      width: min-content;
      max-width: 70%;
      font-family: $font-secondary;
      color: var(--text-primary);
      flex-basis: 80%;
      cursor: help;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__city {
    @include placeBadge;
    transform: translateY(-8px);

    & img {
      margin-right: 1px;
      scale: .95;
    }
  }

  &__rating {
    @include ratingBadge;
  }

  &__button {
    @include buttonPrimary;
  }
}

.footer {
  width: 100%;
  height: 100px;
  padding: 1.5rem;
  background-color: var(--header-secondary);

  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;

  p {
    font-size: clamp(.4rem, 2.5vw, 1rem);
  }
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.truncate-one {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

div.blured {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(0px);
  animation: blur-in .1s ease-in 100ms forwards;
  z-index: 8;

  &.exit {
    backdrop-filter: blur(3px);
    animation: blur-out .1s ease-in 100ms forwards;
  }
}

.screen-reader-skip-content {
  width: max-content;
  position: absolute;
  top: -50%;
  left: 0;
  z-index: 100;
  background-color: salmon;
  font-size: clamp(1rem, 5vw, 1.5rem);

  &:focus {
    top: 0;
  }
}

/* wide screen breakpoint */

@media screen and (min-width: 1200px) {
  .header {
    height: calc(100vh - 70px);
    margin-inline: auto;
  }
}


/* tab breakpoint */

@media screen and (max-width: 768px) {
  .nav {
    &__list {
      height: 100vh;
      width: 60vw;
      height: 0;
      visibility: hidden;
      padding: 1rem;

      position: absolute;
      top: 65px;
      right: 0;

      display: flex;
      flex-direction: column;

      background-color: var(--bg-primary);
      text-align: center;
      border-radius: 0 0 10px 10px;
      transition: .25s ease-out;

      &.active {
        height: 100vh;
        visibility: visible;
      }
    }

    &__item {
      margin: 0;
      margin-bottom: 1rem;

      & img {
        margin-right: 1rem;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        display: none;
      }
    }

    @function expDelay($n) {
      @return 100ms * $n;
    }

    @for $i from 0 to 3 {
      &__list &__item:nth-last-child(#{$i + 1}) {
        $delay: expDelay($i);
        animation: fade-out 100ms ease-out #{$delay} forwards;
      }
    }

    @for $i from 0 to 3 {
      &__list.active &__item {
        opacity: 0;
        translate: 0 -15px;
      }

      &__list.active &__item:nth-child(#{$i + 1}) {
        $delay: expDelay($i);
        animation: fade-in 100ms ease-out #{$delay} forwards;
      }
    }

    &__menu-btn {
      visibility: visible;

      &.active {
        background-color: var(--text-p-opacity);
      }

      &.active &__line {
        width: 100%;
      }
    }
  }
}


/* mobile phone breakpoint */

@media screen and (max-width: 633px) {
  .card {
    max-width: 85vw;

    &__img {
      &>img {
        height: 50vw;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .nav {
    &__title {
      font-size: 1.8rem;
    }
  }

  .header {
    padding-bottom: 1rem;

    &__title {
      font-size: clamp(2rem, 15vw, 4rem);
    }
  }
}

@media screen and (max-width: 320px) {
  .header {
    height: 80vh;
    padding-bottom: 1.3rem;
  }

  .nav {
    &__item {
      padding: 4px;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    translate: 0 -15px;
  }

  to {
    opacity: 1;
    translate: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    translate: 0;
  }

  to {
    opacity: 0;
    translate: 0 -15px;
  }
}

@keyframes blur-in {
  from {
    backdrop-filter: blur(0);
  }

  to {
    backdrop-filter: blur(3px);
  }
}

@keyframes blur-out {
  from {
    backdrop-filter: blur(3px);
  }

  to {
    backdrop-filter: blur(0);
  }
}

@keyframes pop-in {
  from {
    scale: .8;
    opacity: 0;
  }

  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes pop-out {
  from {
    scale: 1;
    opacity: 1;
  }

  to {
    scale: .8;
    opacity: 0;
  }
}

@import './detail-page.scss';
@import './favourite-page.scss';
@import './swal-custom.scss';
@import './search-result.scss';