$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Italiana', serif;

@mixin ratingBadge {
  position: absolute;
  top: 5%;
  left: 5%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2px 6px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-size: 1rem;
  font-weight: 700;

  border-radius: 8px;
  width: max-content;
  min-width: 60px;
}

@mixin thumbnailImg {
  width: 100%;
  height: Min(50vw, 180px);
  object-fit: cover;
  object-position: center;
  margin-inline: auto;
  border-radius: 2px;
  transition: 400ms ease-out;
  cursor: pointer;

  &:hover {
    scale: 1.04;
    opacity: .7;
  }
}

@mixin buttonPrimary {
  border: none;
  border-radius: 8px;
  background-color: var(--header-secondary);
  color: var(--card-button);
  padding: 10px 25px;
  font-family: $font-primary;
  font-size: 1rem;

  margin-top: 2rem;

  transition: $touch-hover-transition;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }

  &:active {
    scale: .95;
    opacity: .7;
  }
}

@mixin placeBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 20%;
  font-size: .65rem;

  border-radius: 2px;
  background-color: var(--bg-badge);
  padding: 2px;
}

@mixin title {
  font-family: $font-secondary;
  color: var(--text-primary);
  font-size: 2rem;
  margin-bottom: 1rem;
}