.loader-container {
  display: block;
  height: 100%;
  width: calc(100% - 70px);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 999;
  left: 0;
  top: 70px;

  background-color: var(--bg-primary);
}

.loader {
  $size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  gap: 0.6rem;

  .box {
    width: $size;
    height: $size;
    background: #2e8b57;
    animation: rotate 2s infinite;
  }

  .box:nth-child(2) {
    animation-delay: 0.25s;
  }

  .box:nth-child(3) {
    animation-delay: 0.5s;
  }
}

#theme-btn {
  position: fixed;
  z-index: 999;
  bottom: 10%;
  right: 4%;

  display: block;
  border: none;
  border-radius: 50%;

  width: 2rem;
  height: 2rem;
  font-size: 1.2em;

  cursor: pointer;
}

.theme-light {
  background-color: var(--c-dark-header-secondary);
  color: var(--c-dark-bg-third);
}

.back-button {
  display: block;

  position: fixed;
  bottom: 10%;
  left: 4%;

  transition: .2s;

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    font-size: 1.1rem;
    color: var(--card-button);
    background-color: var(--header-secondary);
    border-radius: 50%;
    border: 1px solid var(--bg-primary);
    cursor: pointer;
  }

  &:active {
    opacity: .7;
    scale: .95;
  }
}

.offline-loader {
  width: 30%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg, path, p {
   color: var(--text-primary);
   fill: var(--text-primary);
  }
}

@keyframes rotate {
  50% {
    transform: rotate(180deg)
  }
}