/* Colors */
$pale-spring-bud: #ccd5ae;
$pale-spring-bud-2: #e9edc9ff;
$cornsilk: #fefae0ff;
$cornsilkTransparent: rgba(254, 250, 224, 0.7);
$papaya-whip: #faedcdff;
$fawn: #d4a373ff;
$seagreen: #2e8b57;
$dark: #020202;
$light: #fff;